<div class="gold-bar"></div>
<footer class="footer">
  <div class="footer-left">
    <a href="#">Sản phẩm hot</a>
    <a href="#">Sản phẩm sale</a>
    <a href="#">Sản phẩm mới</a>
    <a href="#">Sản phẩm yêu thích</a>
    <a href="#">Sản phẩm mới</a>
  </div>

  <div class="footer-center">
    <div>Hỗ trợ nhanh : 0123456789</div>
    <div>Tư vấn mua hàng: 0123456789</div>
    <div>Hotline VISTORA : 0123456789</div>
  </div>

  <div class="footer-right">
    <div>Thông tin liên hệ :<br />0123456789<br />abcdeffgmail.com</div>
    <div class="social-icons">
      <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="facebook" />
      <img src="https://cdn.iconscout.com/icon/free/png-256/discord-3-569463.png" alt="discord" />

    </div>
    <img src="assets/logof.png" alt="Vistora logo" />
    <div class="address">Địa chỉ : Công viên phần mềm Quang Trung</div>
  </div>
</footer>

